.cabecalho {
	display: block;
	background-color: #41a2ef;
	h1 {
		display: none;
	}
}

.testemunho {
	display: block;
	background-color: #gray-100;
	padding-top: 60px;
	padding-bottom: 80px;
}

.features {
 display: block;
  padding-top: 60px;
  padding-bottom: 80px;
  }

  .descricao2 {
 display: block;
  padding-top: 60px;
  padding-bottom: 80px;
  }

.descricao {
	display: block;
	background-color: #gray-100;
	padding-top: 60px;
	padding-bottom: 80px;

}

.video {
	display: block;
	background-color: #36b57c;
	padding-top: 60px;
	padding-bottom: 80px;

}

.newsletter {
  display: block;
  background-color: #eeeeee;
  padding-top: 90px;
  padding-bottom: 80px;
 
}


.social-media {
	display: block;
	background-color: #36b57c;
	padding-top: 60px;
	padding-bottom: 80px;

  .ourteam {
  background-color: #41a2ef;
  color: white;
  padding-top: 60px;
	padding-bottom: 80px;
  }


  .contact {
  padding-top: 60px;
  padding-bottom: 80px;
  background-color: white;
}

  .aboutus {
  padding-top: 60px;
  padding-bottom: 80px;
}

